* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: 'Open Sans';
    line-height: 1.5;
    color: #000;
}

/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
HEADER
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

header {
    background-color: #333;
    color: #fff;
    padding: 30px 50px;

    height: 100px;

    position: sticky;
    top: 0;
    z-index: 100;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: #fff;
}

header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

header nav ul li {
    margin-right: 20px;
    margin-left: 20px;
    width: 70px;
}

.leaderboard-svg {
    width: 70px;
    height: 70px;
    transition: 0.3s;
}

.leaderboard-svg:hover {
    width: 80px;
    height: 80px;
    filter: drop-shadow(1px 1px);
}

.profile-svg {
    width: 70px;
    height: 70px;
    transition: 0.3s;
}

.profile-svg:hover {
    width: 80px;
    height: 80px;
    filter: drop-shadow(1px 1px);
}

.li-xp-amount {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    width: 100px;
    border-radius: 5px;

    background-color: #fff;
    font-weight: 700;
}

/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
FORM
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

.form-for-tasks {
    display: flex;
    justify-content: center;

    padding: 20px;
}

.container {
    width: 60%;
    margin-left: 50px
}

.container h1 {
    display: inline;
    position: relative;
    padding-right: 20px;
    top: 4.5px;
    text-transform: uppercase;
}

.container li {
    list-style-type: none;
}

.container label {
    text-transform: uppercase;
}

.submit-input {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    width: 150px;
    height: 33px;
    /* padding: 10px 30px; */
    cursor: pointer;
    transition: 0.5s;
}

.submit-input:hover {
    color: #F6EB85;
    transform: scaleX(1.05)
}

#submit-tasks {
    float: right;
    margin-right: 80px;
    margin-top: 30px;
}

.crossed-out {
    text-decoration: line-through;
}

.checkbox-item {
    padding: 10px;

    cursor: pointer;
}

svg {
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 520px) {
    .container {
        margin: 0;

        display: flex;
        flex-direction: column;
    }

    .leaderboard-svg, .profile-svg {
        width: 50px;
        height: 50px;
    }
    
    .li-xp-amount {
        height: 30px;
        width: 70px;

        margin-right: 10px;
    }

    header nav ul {
        margin-left: 10px;
    }

    header nav ul li {
        margin: 0;
    }
}
