<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" type="text/css" href="styles/log_in.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1>Sticky Header</h1>
        
        <h2>Authentication</h2>
    </header>

    <section>
        <form method="POST" class="log-in-form">
            <input class="email-input" type="email" name="input-email" required placeholder="Email">
            <input class="password-input" type="password" name="input-password" required placeholder="Password">

            <div class="bottom-div">
                <a href="register.html">Register</a>
                <input class="input-submit" type="submit" name="input-submit" value="Submit">
            </div>
        </form>
    </section>

    <script src="scripts/log_in.js"></script>
</body>
</html>