<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="register.css">
</head>
<body>
    <header>
        <h1>Sticky Header</h1>
        
        <h2>Authentication</h2>
    </header>

    <section>
        <form method="POST" class="log-in-form">
            <input class="name-input" type="email" name="input-email" required placeholder="Name">
            <input class="nickname-input" type="email" name="input-email" required placeholder="Nickname">
            <input class="birth-input" type="email" name="input-email" required placeholder="Date of birth">
            <input class="email-input" type="email" name="input-email" required placeholder="Email">
            <input class="password-input" type="password" name="input-password" required placeholder="Password">

            <div class="bottom-div">
                <a href="log_in.html">Log In</a>
                <input class="input-submit" type="submit" name="input-submit" value="Submit">
            </div>
        </form>
    </section>
</body>
</html>