<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" type="text/css" href="styles/settings.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Profile settings</h1>
    <form method="POST" class="container">
        <div class="profile-div">
            <svg class="profile-svg" fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 h-6">
                <path stroke="#ccc" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" clip-rule="evenodd" />
            </svg>

            <a href="">Change profile picture</a>
        </div>

        <div class="input-div">
            <label for="name-input">Name:</label>
            <br>
            <input class="input-but-better" type="text" id="name-input" name="name" required><br><br>
            
            <label for="nickname-input">Nickname:</label>
            <br>
            <input class="input-but-better" type="text" id="nickname-input" name="nickname" required><br><br>
            
            <label for="dob-input">Date of Birth:</label>
            <br>
            <input class="input-but-better" type="date" id="dob-input" name="dob" required><br><br>
            
            <label for="email-input">Email:</label>
            <br>
            <input class="input-but-better" type="email" id="email-input" name="email" required><br><br>
            
            <label for="password-input">Password:</label>
            <br>
            <input class="input-but-better" type="password" id="password-input" name="password" required><br><br>

            <input class="submit-btn" type="submit" value="Submit">
        </div>
    </form>

    <script src="scripts/settings.js"></script>
</body>
</html>