* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 30px auto;

    width: 70%;
}

.profile-pfp {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pfp a {
    background-color: #333;

    text-decoration: none;
    color: #fff;

    margin-top: 10px;
    padding: 10px 40px;
    border-radius: 5px;
}

.profile-pfp img {
    object-fit: cover;

    width: 90%;
    height: 90%;
    max-width: 500px;
}

.profile-info {
    display: flex;
    flex-direction: column;

    width: 50%;
}

.profile-info a {
    color: #166988;
}

#profile-username {
    font-size: 50px;
}

#profile-about {
    font-size: 25px;
}

#profile-xp-amount {
    width: fit-content;
    padding: 10px 30px;
    border-radius: 5px;
    color: #fff;
    background-color: #333;
}
