{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'tasks/styles/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/navbar.css' %}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
</head>
<body>

    {% include "navbar.html" %}

    {% include "task_form.html" %}

    <section>
        <form action="POST" class="form-for-tasks">
            <div class="container">
                <h1>Your tasks</h1>

                <input type="button" value="Add task" id="add-task" class="submit-input"><br>
                
                <ul class="task-list">
                    {% for task in tasks %}
                        <li>
                            <input type="checkbox" id="{{ task.idhtml }}" class="checkbox-item">
                            <label for="{{ task.idhtml }}" id="label-{{ task.idhtml }}">{{ task.title }}</label>
                            <br>
                            <span id="{{ task.idhtml }}-info">{{ task.description }}</span>
                        </li>
                    {% endfor %}
                </ul>

                <input type="submit" value="Submit" id="submit-tasks" class="submit-input"><br>
            </div>
        </form>
    </section>

    <script src="{% static 'tasks/scripts/home.js' %}"></script>
</body>
</html>