{% extends "main.html" %}

{% load static %}

{% block content %}

{% include "tasks/task_form.html" %}


<div class="grey-div"></div>
<section>
    <form action="POST" class="form-for-tasks">
        {% csrf_token %}
        <div class="container">
            <h1>Your tasks</h1>

            <input type="button" value="Add task" id="add-task" class="submit-input"><br>
            
            <ul class="task-list">
                {% for task in tasks %}
                    {% if task.priority == "L" %}
                        <li style="background-color: #98FB98; border-radius: 5px; padding: 0 5px; margin: 3px 0;">
                            <div>
                                <input type="checkbox" id="{{ task.idhtml }}" class="checkbox-item">
                                <label for="{{ task.idhtml }}" id="label-{{ task.idhtml }}">{{ task.title }}</label>
                                <br>
                                <span id="{{ task.idhtml }}-info">{{ task.description }}</span>
                            </div>
                            <button class="delete-submit">
                                <svg width="800px" height="800px" viewBox="0 -0.5 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000">
                                    
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                                    
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                                    
                                    <g id="SVGRepo_iconCarrier"> <title>delete [#1487]</title> <desc>Created with Sketch.</desc> <defs> </defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Dribbble-Light-Preview" transform="translate(-179.000000, -360.000000)" fill="#d60000"> <g id="icons" transform="translate(56.000000, 160.000000)"> <path d="M130.35,216 L132.45,216 L132.45,208 L130.35,208 L130.35,216 Z M134.55,216 L136.65,216 L136.65,208 L134.55,208 L134.55,216 Z M128.25,218 L138.75,218 L138.75,206 L128.25,206 L128.25,218 Z M130.35,204 L136.65,204 L136.65,202 L130.35,202 L130.35,204 Z M138.75,204 L138.75,200 L128.25,200 L128.25,204 L123,204 L123,206 L126.15,206 L126.15,220 L140.85,220 L140.85,206 L144,206 L144,204 L138.75,204 Z" id="delete-[#1487]"> </path> </g> </g> </g> </g>
                                    
                                </svg>
                            </button>
                        </li>
                    {% elif task.priority == "M" %}
                        <li style="background-color: #ffffa7; border-radius: 5px; padding: 0 5px; margin: 3px 0;">
                            <div>
                                <input type="checkbox" id="{{ task.idhtml }}" class="checkbox-item">
                                <label for="{{ task.idhtml }}" id="label-{{ task.idhtml }}">{{ task.title }}</label>
                                <br>
                                <span id="{{ task.idhtml }}-info">{{ task.description }}</span>
                            </div>
                            <button class="delete-submit">
                                <svg width="800px" height="800px" viewBox="0 -0.5 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000">
                                    
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                                    
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                                    
                                    <g id="SVGRepo_iconCarrier"> <title>delete [#1487]</title> <desc>Created with Sketch.</desc> <defs> </defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Dribbble-Light-Preview" transform="translate(-179.000000, -360.000000)" fill="#d60000"> <g id="icons" transform="translate(56.000000, 160.000000)"> <path d="M130.35,216 L132.45,216 L132.45,208 L130.35,208 L130.35,216 Z M134.55,216 L136.65,216 L136.65,208 L134.55,208 L134.55,216 Z M128.25,218 L138.75,218 L138.75,206 L128.25,206 L128.25,218 Z M130.35,204 L136.65,204 L136.65,202 L130.35,202 L130.35,204 Z M138.75,204 L138.75,200 L128.25,200 L128.25,204 L123,204 L123,206 L126.15,206 L126.15,220 L140.85,220 L140.85,206 L144,206 L144,204 L138.75,204 Z" id="delete-[#1487]"> </path> </g> </g> </g> </g>
                                    
                                </svg>
                            </button>
                        </li>
                    {% elif task.priority == "H" %}
                        <li style="background-color: #FFC0CB; border-radius: 5px; padding: 0 5px; margin: 3px 0;">
                            <div>
                                <input type="checkbox" id="{{ task.idhtml }}" class="checkbox-item">
                                <label for="{{ task.idhtml }}" id="label-{{ task.idhtml }}">{{ task.title }}</label>
                                <br>
                                <span id="{{ task.idhtml }}-info">{{ task.description }}</span>
                            </div>
                            <button class="delete-submit">
                                <svg width="800px" height="800px" viewBox="0 -0.5 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000">
                                    
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                                    
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                                    
                                    <g id="SVGRepo_iconCarrier"> <title>delete [#1487]</title> <desc>Created with Sketch.</desc> <defs> </defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Dribbble-Light-Preview" transform="translate(-179.000000, -360.000000)" fill="#d60000"> <g id="icons" transform="translate(56.000000, 160.000000)"> <path d="M130.35,216 L132.45,216 L132.45,208 L130.35,208 L130.35,216 Z M134.55,216 L136.65,216 L136.65,208 L134.55,208 L134.55,216 Z M128.25,218 L138.75,218 L138.75,206 L128.25,206 L128.25,218 Z M130.35,204 L136.65,204 L136.65,202 L130.35,202 L130.35,204 Z M138.75,204 L138.75,200 L128.25,200 L128.25,204 L123,204 L123,206 L126.15,206 L126.15,220 L140.85,220 L140.85,206 L144,206 L144,204 L138.75,204 Z" id="delete-[#1487]"> </path> </g> </g> </g> </g>
                                    
                                </svg>
                            </button>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>

            <input type="submit" value="Submit" id="submit-tasks" class="submit-input"><br>
        </div>
    </form>
</section>

<script src="{% static 'tasks/scripts/home.js' %}"></script>

{% endblock %}