{% extends "main.html" %}

{% block content %}
<h1>Tasks</h1>
<p>You are on {{ page }}</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur sequi beatae voluptate. Minus deserunt, odio quasi doloremque, esse incidunt eligendi sequi beatae, laboriosam ratione corrupti dolores quo porro voluptatem iure.</p>

{% if number > 10 %}
    <p>Number is greater than 10</p>
{% elif number == 10 %}
    <p>Number is exactly 10</p>
{% else %}
    <p>Number is less than 10</p>
{% endif %}


<ul>
    {% for task in tasks %}
        <li><a href="{% url 'profile' task.id %}">click</a> Id {{task.id}}; Title {{ task.title }}</li>
    {% endfor %}
</ul>

{% endblock content %}
