{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{% static 'users/styles/register.css' %}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1>Sticky Header</h1>
        
        <h2>Authentication</h2>
    </header>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <section>
        <form action="{% url 'registerPage' %}" method="POST" class="log-in-form">
            {% csrf_token %}

            {{ form.as_p }}
            <!-- <input class="name-input" type="text" name="input-email" required placeholder="Name">
            <input class="nickname-input" type="text" name="input-email" required placeholder="Nickname">
            <input class="birth-input" type="date" name="input-email" required placeholder="Date of birth">
            <input class="email-input" type="email" name="input-email" required placeholder="Email">
            <input class="password-input" type="password" name="input-password" required placeholder="Password">
            -->
            <div class="bottom-div">
                <a href="{% url 'loginPage' %}">Log In</a>
                <input class="input-submit" type="submit" name="input-submit" value="Submit">
            </div>


        </form>
    </section>

    <!-- <script src="{% static 'users/scripts/register.js' %}"></script> -->
</body>
</html>